absl-py==0.9.0
astor==0.8.1
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
idna==2.9
imageio==2.8.0
importlib-metadata==1.6.0
joblib==0.14.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
lxml==4.5.1
Markdown==3.2.2
matplotlib==3.0.3
networkx==2.3
numpy==1.18.4
opt-einsum==3.2.1
pandas==0.24.2
Pillow==7.1.2
protobuf==3.12.2
pygraphviz==1.5
PyGSP==0.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.23.0
scikit-image==0.15.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.15.0
spektral==0.1.2
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
tqdm==4.46.0
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
zipp==1.2.0
